<h1>
        <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#"><%= hometxt %></a></li>
              <li class="breadcrumb-item active" aria-current="page" name="aboutTxt"><%= title %></li>
            </ol>
        </nav>
</h1>
<div class="container">
    <h2 align="center"><%= title %></h2>
        <div class="row justify-content-center">
           <div class="col-md-8">
              <div class="card about-card">
                <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam architecto at exercitationem ipsa iste molestiae nobis odit! Error quo reprehenderit velit! Aperiam eius non odio optio, perspiciatis suscipit vel?
                </p>
            </div>
         </div>
    </div>    
</div>        