<h1>
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page"><%= title %></li>
        </ol>
    </nav>
 </h1>
<div class="container">
 <div class="col justify-content-between">
    <div class="col-md-11">
        <div class="row justify-content-between">
            <div class="col-md-5">
                <div class="card top-selling">
                    <div class="card-body">
                        <h1 class="card-title"><%= topselling %></h1>
                        <div class="card-text">
                            <ul>
                                <li><%= textbook1 %></li>
                                <li><%= textbook2 %></li>
                                <li><%= textbook3 %></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-5">
                <div class="card top-rentals">
                    <div class="card-body">
                        <h1 class="card-title"><%= sellingText2 %></h1>
                        <div class="card-text">
                            <ul>
                                <li><%= textbook1 %></li>
                                <li><%= textbook2 %></li>
                                <li><%= textbook3 %></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-11">
        <div class="row justify-content-between">
            <div class="col-md-5">
                <div class="card top-visitors">
                    <div class="card-body">
                        <h1 class="card-title"><%= sellingText3 %></h1>
                        <div class="card-text">
                            <ul>
                                <li><%= textbook1 %></li>
                                <li><%= textbook2 %></li>
                                <li><%= textbook3 %></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body new-arrivals">
                        <h1 class="card-title"><%= sellingText4 %></h1>
                        <div class="card-text">
                            <ul>
                                <li><%= textbook1 %></li>
                                <li><%= textbook2 %></li>
                                <li><%= textbook3 %></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>